$max-button-diameter: 80px;
$button-diameter: 20%;
$button-diameter-mobile: 15vw;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $max-button-diameter;
  max-height: $max-button-diameter;
  width: $button-diameter;
  height: $button-diameter;
  border-radius: 50%;
  color: #FFF;
  font-size: 2.25em;
  margin: 0 10px;

  @media screen and (min-width: 421px) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: default;
    }
  }

  @media screen and (max-width: 420px) {
    width: $button-diameter-mobile;
    height: $button-diameter-mobile;

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: default;
    }
  }
}

.equal {
  color: rgba(43, 88, 154, 1);
  background-color: #FFF;

  @media screen and (min-width: 421px) {
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: default;
    }
  }

  @media screen and (max-width: 420px) {
    &:active {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

