.wrapper {
  max-width: 554px;
  height: 800px;
  padding: 46px;

  background: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
  box-shadow: 0px 82px 158px rgba(0, 0, 0, 0.35), 0px 24.7206px 47.6324px rgba(0, 0, 0, 0.228056), 0px 10.2677px 19.7841px rgba(0, 0, 0, 0.175), 0px 3.71362px 7.1555px rgba(0, 0, 0, 0.121944);
  border-radius: 18px;
}

.outputSection {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  height: 26.25%;
}

.output {
  display: flex;
  min-height: 117px;
}

.result {
  display: flex;
  min-height: 76px;
}

.keyboard {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 30px 0;
}